[user]
  name = R.T. Lechow
  email = rtlechow@gmail.com
  signingkey = E04FBCAB
[alias]
  a = add
  au = add -u
  b = branch -v
  bl = blame
  cb = checkout -b
  ch = checkout
  ci = commit
  d = diff
  dc = diff --cached
  l = log -p
  last = log -1 HEAD
  m = merge
  p = pull
  ps = push
  s = status -s
  sta = stash
  w = whatchanged
  unstage = reset HEAD --
  web = instaweb --httpd=webrick
  webstop = instaweb --httpd=webrick --stop
  undo=reset --hard
  serve = daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
  edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
  add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
  graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
  prettylog = "log --graph --pretty=format:\"%Cred%h%Creset — %s %Cgreen(%cr)%Creset\" --abbrev-commit --date=relative"
  track = checkout --track -b
  prune-all = !git remote | xargs -n 1 git remote prune
  rank = shortlog -sn --no-merges
  whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short
[core]
  pager = diff-so-fancy | less
  whitespace = trailing-space
  excludesfile = ~/.gitignore_global
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
  plain = blue
[color "diff"]
  plain = normal
  meta = yellow
  frag = magenta
  old = red
  new = green
  commit = cyan
  whitespace = yellow red
[color "status"]
  header = blue
  added = green
  changed = yellow
  untracked = cyan
  nobranch = red
[merge]
  tool = vimdiff
[push]
  default = tracking
[branch]
  autosetuprebase = always
[credential]
	helper = osxkeychain
[init]
	templatedir = ~/.git_template
[github]
	user = rtlechow
[ghi]
	token = !security find-internet-password -a rtlechow -s github.com -l 'ghi token' -w
[status]
	displaycommentprefix = true
[merge "ours"]
	driver = true
[diff]
	compactionHeuristic = true
[interactive]
	diffFilter = less
[diff-so-fancy]
	markEmptyLines = false
[diff "spaceman-diff"]
  command = spaceman-diff
