[user]
  name = R.T. Lechow
  email = rtlechow@gmail.com
  signingkey = E04FBCAB
[alias]
  a = add
  au = add -u
  b = branch -v
  bd = branch -d
  br = checkout -b
  bl = blame -w -M
  ca = commit --amend
  cb = checkout -b
  ch = checkout
  ci = commit
  cl = clean
  cp = cherry-pick
  d = diff
  dc = diff --cached
  l = log -p
  last = log -1 HEAD
  m = merge
  p = pull
  patch = --no-pager diff --no-color
  ps = push
  r = rebase
  s = status -s
  sta = stash
  unstage = reset HEAD --
  w = whatchanged
  wt = "!f() { git worktree add .worktrees/$1 $1; }; f"
  wtn = "!f() { git worktree add -b $1 .worktrees/$1; }; f"
  web = instaweb --httpd=webrick
  webstop = instaweb --httpd=webrick --stop
  serve = daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
  edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
  add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
  graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
  prettylog = "log --graph --pretty=format:\"%Cred%h%Creset — %s %Cgreen(%cr)%Creset\" --abbrev-commit --date=relative"
  track = checkout --track -b
  prune-all = !git remote | xargs -n 1 git remote prune
  rank = shortlog -sn --no-merges
  whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short
  conflict = diff --name-only --diff-filter U
	hub = !hub
[core]
  pager = delta
  whitespace = trailing-space
  excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
  plain = blue
[color "diff"]
  plain = normal
  meta = yellow
  frag = magenta
  old = red
  new = green
  commit = cyan
  whitespace = yellow red
[color "status"]
  header = blue
  added = green
  changed = yellow
  untracked = cyan
  nobranch = red
[merge]
  tool = vimdiff
[push]
	default = current
  followTags = true
	autoSetupRemote = true
[branch]
  autosetuprebase = always
	autosetupmerge = always
	sort = -committerdate
[init]
	templatedir = ~/.git_template
	defaultBranch = main
[github]
	user = rtlechow
[status]
	displaycommentprefix = true
[merge "ours"]
	driver = true
[diff]
  indentHeuristic = true
  submodule = diff
[delta]
  navigate = true
  dark = true
[interactive]
	diffFilter = delta --color-only
[commit]
	verbose = true
[fetch]
	prune = true
[column]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://git.heroku.com"]
	provider = generic
[credential "https://dev.azure.com"]
	useHttpPath = true
