.localrc
.DS_Store
.Trash/
.Xauthority
.Xdefaults
.Xmodmap
.adobe/
.asepriterc
.aspell*
.bash_history
.bash_login
.bashrc
.bundler/
.cache/
.config/
.cups/
.dropbox/
.dvdcss/
.elinks/
.fontconfig/
.gem/
.ievms/
.irb-history
.irb_history
.keepassx/
.lesshst
.local/
.mail/
.mutt/temp/
.mysql_history
.ncftp/
.offlineimap/
.rspec
.ruby_inline/
.rvm/
.sh_history
.sqlite_history
.ssh/
.vagrant.d/
.viminfo
.vim/.netrw*
.xinitrc
.xsession-errors
.zcompdump
.zlogin
.zsh_history
.zshenv
/Applications
/Desktop
/Documents
/Downloads
/Dropbox
/Library
/Movies
/Music
/Pictures
/Public
/code
.RSA/
.bundle/
.bin/
.fonts/
.gvimrc
Calibre Library/
.npm/
.npmrc
.rediscli_history
.rnd
.subversion/
.rbenv/
.CFUserTextEncoding
.byebug_hist
.cabal/
.exercism
.ghc/
.gist
.guard_history
.heroku/
.htoprc
.lein/
.m2/
.netrc
.profile
.railsrc
.railstemplate
.rdebug_hist
.rdebugrc
.tddium
.trc
btsync/
.node-gyp/
Virtualbox VMs/
.boot2docker/
.Tribler
.pry_history
*.css.map
.composer
.docker
node_modules
.wget-hsts
