.localrc
.DS_Store
.Trash/
.Xauthority
.Xdefaults
.Xmodmap
.adobe/
.asepriterc
.aspell*
.aws/
.bash_history
.bash_login
.bashrc
.bundler/
.cache/
.config/
.cups/
.dropbox/
.dvdcss/
.elinks/
.expo/
.fontconfig/
.gem/
.ievms/
.irb-history
.irb_history
.keepassx/
.lesshst
.local/
.mail/
.mutt/temp/
.mutt/cache/
.mysql_history
.ncftp/
.offlineimap/
.rncache/
.rspec
.ruby_inline/
.rvm/
.nvm/
.sh_history
.sqlite_history
.ssh/
.vagrant.d/
.viminfo
.vim/.netrw*
.xinitrc
.xsession-errors
.yarnrc
.zcompdump
.zlogin
.zsh_history
.zshenv
/Applications
/Desktop
/Documents
/Downloads
/Dropbox*
/Library
/Movies
/Music
/Pictures
/Public
/src
.RSA/
.bundle/
.fonts/
.gvimrc
Calibre Library/
.npm/
.npmrc
.rediscli_history
.rnd
.subversion/
.rbenv/
.CFUserTextEncoding
.byebug_hist
.cabal/
.exercism
.ghc/
.gist
.guard_history
.heroku/
.htoprc
.lein/
.m2/
.netrc
.profile
.railsrc
.railstemplate
.rdebug_hist
.rdebugrc
.tddium
.trc
btsync/
.node-gyp/
Virtualbox VMs/
.boot2docker/
.Tribler
.pry_history
*.css.map
.composer
.docker
node_modules
.wget-hsts
.gnupg
.ansible
.ansible-env
.ansible_galaxy
.oracle_jre_usage/
.provision/vendor
.provision/playbook.retry
.bash_sessions/
.eyrc
.s3cfg
.phantomjs/
.packer.d/
Blizzard/
.dbext_history
.bin/
.githubrc
.lbryum/
.mitmproxy/
.vegas/
Amazon Drive/
Arena Tracker/
.op/
.terraform
.terraform.d
terraform.tfstate
.tig_history
.password-store/
.parsec/
.notmuch-config
.newsboat/
.grip/
.circleci/
.chromedriver-helper/
.babel.json
.hunspell*
.fpp/
.electron/
.jira.d/
.vim/pack/*/start/tags*
.httpie/
.docker-sync-global.yml
.viminfo.tmp
.azure*
.bigqueryrc
.boto
.vsts
.mono/
.psql_history
.webdrivers/
.hs-tree-data
.kube/
.vale/
go/
