[submodule ".vim/pack/foo/start/vim-table-mode"]
	path = .vim/pack/foo/start/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
[submodule ".vim/pack/foo/start/vim-test"]
	path = .vim/pack/foo/start/vim-test
	url = https://github.com/janko-m/vim-test
[submodule ".vim/pack/foo/start/vim-polyglot"]
	path = .vim/pack/foo/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/pack/foo/start/vim-dadbod"]
	path = .vim/pack/foo/start/vim-dadbod
	url = https://github.com/tpope/vim-dadbod.git
[submodule ".vim/pack/foo/start/vim-dispatch"]
	path = .vim/pack/foo/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule ".vim/pack/foo/start/vim-eunuch"]
	path = .vim/pack/foo/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule ".vim/pack/foo/start/vim-fugitive"]
	path = .vim/pack/foo/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/foo/start/vim-rails"]
	path = .vim/pack/foo/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/pack/foo/start/vim-rbenv"]
	path = .vim/pack/foo/start/vim-rbenv
	url = https://github.com/tpope/vim-rbenv.git
[submodule ".vim/pack/foo/start/vim-rhubarb"]
	path = .vim/pack/foo/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule ".vim/pack/foo/start/vim-surround"]
	path = .vim/pack/foo/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/pack/foo/start/trailing-whitespace"]
	path = .vim/pack/foo/start/trailing-whitespace
	url = https://github.com/vim-scripts/trailing-whitespace
[submodule ".vim/pack/foo/start/papercolor-theme"]
	path = .vim/pack/foo/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule ".vim/pack/foo/start/stellarized"]
	path = .vim/pack/foo/start/stellarized
	url = https://github.com/nightsense/stellarized
[submodule ".vim/pack/foo/start/space-vim-theme"]
	path = .vim/pack/foo/start/space-vim-theme
	url = https://github.com/liuchengxu/space-vim-theme
[submodule ".vim/pack/foo/start/material"]
	path = .vim/pack/foo/start/material
	url = https://github.com/kaicataldo/material.vim
[submodule ".vim/pack/foo/start/snow"]
	path = .vim/pack/foo/start/snow
	url = https://github.com/nightsense/snow
[submodule ".vim/pack/foo/start/vim-scriptease"]
	path = .vim/pack/foo/start/vim-scriptease
	url = https://github.com/tpope/vim-scriptease
[submodule ".vim/pack/foo/start/vim-ruby-refactoring"]
	path = .vim/pack/foo/start/vim-ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring.git
[submodule ".vim/pack/foo/start/vim-markdown"]
	path = .vim/pack/foo/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/pack/foo/start/goyo"]
	path = .vim/pack/foo/start/goyo
	url = https://github.com/junegunn/goyo.vim
[submodule ".vim/pack/foo/start/vim-bundler"]
	path = .vim/pack/foo/start/vim-bundler
	url = https://github.com/tpope/vim-bundler
[submodule ".vim/pack/foo/start/splitjoin"]
	path = .vim/pack/foo/start/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule ".vim/pack/foo/start/ale"]
	path = .vim/pack/foo/start/ale
	url = https://github.com/dense-analysis/ale.git
